:root {
    --primary-color: #CCA57C;
    --secondary-color: #272727;
    --text-color: white;
    --gap-size: 20px;
    background-color: #606060;
    color: var(--text-color);
}

.gold {
    color: var(--primary-color);
}

.black {
    color: var(--secondary-color);
}

.background-gold {
    background-color: var(--primary-color);
}

.background-black {
    background-color: var(--secondary-color);
}

.container-header {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
    background-image: url(images/bg_header.jpg);
}

.button-style {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.content-header {
    text-align: right;
    color: var(--text-color);
    max-width: 100%;
    margin: 0 15%;
    margin-top: 15%;
}

.gros-titre {
    font-size: 48px;
}

.section-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.flex-main > section {
    height: auto;
    padding: var(--gap-size);
}

.the-hall {
    width: 300px;
    height: 100px;
    background-image: url(images/logo_header.png);
    background-repeat: no-repeat;
    margin: 0 10px;
}

.logo12 {
    height: 150px;
    background-image: url(images/logo12.png);
    background-repeat: no-repeat;
}

.the-hall:hover {
    background-image: url(images/logo_hover.png);
}

.content-nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: var(--gap-size);
    margin: 0;
    padding: 0;
}

.container-main {
    margin: 0 15%;
}

.container-footer {
    background-image: url(images/bg_footer.jpg);
}
.flex-footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
}
.flex-footer div {
    width: 200px;
}
.call-back {
    background-image: url(images/visuelgauche.jpg);
}
.call-back > h1 {
    font-size: large;
}
.titre {
    text-transform: uppercase;
}
.citation {
    border-left: 1px solid;
    padding-left: 10px;
}
.concert-paris {
    background-image: url(images/paris.jpg);
}
.concert-london {
    background-image: url(images/london.jpg);
}
.concert-paris, .concert-london {
    width: 500px;
    margin-bottom: var(--gap-size);
}

.flex-projects {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    gap: var(--gap-size);
}
.flex-services {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    gap: var(--gap-size);
}
.carte {
    padding: 10px 0;
    border-top: solid var(--primary-color);
    border-bottom: solid var(--primary-color);
}