body {
    font-family: Roboto;
    font-size: 16px;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
header {
    background: linear-gradient(90deg,rgba(18, 0, 92, 1) 0%, rgba(9, 9, 121, 1) 40%, rgba(0, 212, 255, 1) 100%);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    color: white;
    align-items: center;
    padding: 1.4em;
    height: 5.7em;
    z-index: 500;
}
.logo {
    display: flex;
    max-width: 3.1em;
    height: 3.1em;
}
main, footer {
    position: relative;
    top: 5.7em;
}
.actuel {
    border-bottom: solid rgb(255, 0, 0);
}
.menu:hover {
    border-bottom: solid rgb(255, 0, 0);
}
.contact:hover {
    background-color: rgb(133, 67, 255);
    margin-left: 0.7em;
}
img {
    padding-right: 0.7em;
}
.left {
    display: flex;
}
.navigation {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
li {
    padding: 0.5rem 1rem;
}
.contact {
    margin-left: 0.6em;
    background-color: rgb(89, 0, 255);
    border-radius: 0.35em 0.35em 0.35em 0.35em;
}
.partie {
    display: flex;
    flex-direction: column;
    padding: 2.8em;
}
.souspartie {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2.1em;

    margin-top: 2.1em;
    margin-bottom: 2.1em;

}
.service {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0.7em;
    padding: 0 0.7em;
    max-width: 28em;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
}
.imagepartie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 3.5em;
}
.un {
    background-color: white;
    padding-left: 3em;
    padding-right: 3em;
}
.deux {
    background-color: rgba(128, 128, 128, 0.205);
    padding-left: 3em;
    padding-right: 3em;
}
footer {
    text-align: center;
    background: linear-gradient(90deg,rgba(18, 0, 92, 1) 0%, rgba(9, 9, 121, 1) 40%, rgba(0, 212, 255, 1) 100%);
    color: white;
}
.fenetre {
    background-color: white;
    border: 1px dashed black;
    text-align: center;
    padding: 1.4em 0;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}
.nom {
    text-align: center;
}