html {
    font-family: Roboto;
    font-size: 16px;
}
main {
    margin-left: 10vw;
    margin-right: 10vw;
}
.basegrid {
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template: repeat(5, 300px) / repeat(4, 1fr);
    gap: 10px;
    justify-self: center;
    align-self: end;
}
.column, .double {
    grid-column-start: initial;
    grid-column-end: span 2;
}
.row, .double {
    grid-row-start: initial;
    grid-row-end: span 2;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
h1 {
    text-align: center;
}
@media screen and (max-width:769px) {
    main {
        margin: 0;
    }
    .basegrid {
        grid-template: 300px auto 300px / repeat(4, 1fr);
    }
}