html {
    margin-top: 30px;
    margin-left: 30vw;
    margin-right: 30vw;
    padding-bottom: 30px;
    border: solid;
}
.align {
    text-align: center;
}
.radio, .checkbox {
    margin: 0 0 0 12vw;
}
input[type=text], select, input[type=date], input[type=password] {
    width: 40%;
}
input:valid {
    border: 1px solid green;
}
input:invalid, select:invalid {
    border: 1px solid red;
}
button {
    height: 40px;
}
button[type=reset] {
    width: 20vw;
    max-width: 100px;
}
button[type=submit] {
    background-color: rgb(23, 142, 211);
    width: 30vw;
    max-width: 200px;
}
h4:not(.exclude), p {
    width: 50%;
    text-align: left;
    margin: 0 0 0 12vw;
}
p {
    width: 40%;
    color: grey;
}
#homme, #femme, #autre {
    width: 30px;
    text-align: left;
}