ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li {
    margin: auto;
}
header {
    background-color:grey;
    font-size:30px;
    padding-bottom: 10px;
}
.button {
    border: double;
    text-align: center;
    display: block;
    font-size: 20px;
    margin: 4px 2px;
    width: 100px;
    cursor: pointer;
}
.button1 {
    background-color:red;
    color: black;
}
.button2 {
    background-color:white;
    color: black;
}
.button3 {
    background-color:black;
    color: white;
}
.button4 {
    background-color:yellow;
    color: black;
}
.button5 {
    background-color: lightgray;
}
body {
    background-color: rgba(211, 211, 211, 0.774);
}
