body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url("images/space.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    color: white;
    background-size: cover;
}

section {
    border: solid;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.418);
    margin: 30px 20% 30px 20%;

    text-align: center;
    vertical-align: center;

}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
footer {
    min-height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    background-position: bottom;
}
main {
    flex: 1;
}