/*   Initialisation variable + classe utilitaire   */
:root {
    --fondheader: rgb(26, 26, 26);
    --couleurtexte: white;
    --taillelogo: 80px;
    --espacegrid: 10px;
}
html {
    font-family: Roboto;
}
/*   Affichage en-tête   */
.flex-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--fondheader);
    color: var(--couleurtexte);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--espacegrid);
}
.logo {
    position: relative;
    max-height: var(--taillelogo);
    max-width: var(--taillelogo);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--espacegrid);
}
.ul-header {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap: var(--espacegrid);
}
/*   Affichage main   */
/* Huracan & Urus */
.flex-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    gap: var(--espacegrid);
}
.flex-section > div > img {
    position: relative;
    min-width: 100%;
    height: auto;
}
/*Vitrine voiture */
.grid-section {
    padding-top: var(--espacegrid);
    padding-right: var(--espacegrid);
    padding-left: var(--espacegrid);
    padding-bottom: var(--espacegrid);
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-auto-rows: 500px;
    grid-gap: var(--espacegrid);
    justify-self: center;
    align-self: end;
    min-height: 0;
    min-width: 0;
}
.grid-section > div > img {
    max-width: auto;
    height: 100%;
    object-fit: cover;
}
.nomvoiture {
    font-size: 28px;
    text-transform: uppercase;
}
/*Texte centré dans les images*/
.container {
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
}
/*Effet texte*/
.overlay-black {
    color: white;
}
.overlay-black > img {
    filter: brightness(0.3);
}
.overlay-white {
    color: black;
}
.overlay-white > img {
    opacity: 0.7;
}
/*   Affichage footer   */
footer {
    background-color: var(--fondheader);
    color: var(--couleurtexte);
}
.div-footer {
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-gap: 10px;
    justify-self: center;
    align-self: end;
    min-height: 0;
    min-width: 0;
}
.div-footer > div {
    display: block;
    padding: 0 5%;
}
/*   Media Queries   */
/*   MOBILE PAR DEFAUT   */
/*Tablette*/
@media screen and (min-width: 992px) {
    .grid-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 500px);
    }
    .div-footer {
        padding: 15px 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 10px;
        justify-self: center;
        align-self: end;
        min-height: 0;
        min-width: 0;
    }
    .logo {
        position: relative;
        max-height: var(--taillelogo);
        max-width: var(--taillelogo);
        left: 0;
        right: 0;
        margin: 10px;
        box-shadow: none;
    }
}
/*Ordinateur*/
@media screen and (min-width: 1280px) {
    .grid-section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 500px);
    }
    .ul-header {
        flex-wrap: nowrap;
    }
    .logo {
        position: relative;
        max-height: var(--taillelogo);
        max-width: var(--taillelogo);
        left: 0;
        right: 0;
        box-shadow: none;
    }
}