:root {
    --fondheader: rgb(26, 26, 26);
    --couleurtexte: white;
    --taillelogo: 80px;
}
.flex-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--fondheader);
    color: var(--couleurtexte);
    justify-content: space-between;
    align-items: center;
}
.logo {
    position: relative;
    max-height: var(--taillelogo);
    max-width: var(--taillelogo);
    box-shadow: none;
    padding: 10px 10px;
}
.ul-header {
    display: inline-flex;
    text-transform: uppercase;
    list-style: none;
}
.ul-header > li {
    padding: 10px 20px;
}
.flex-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}
.flex-section > img {
    position: relative;
    max-width: 100%;
    max-height: auto;
    padding-bottom: 20px;
}
.grid-section {
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    justify-self: center;
    align-self: end;
    min-height: 0;
    min-width: 0;
}
.grid-section > img {
    max-width: auto;
    height: 100%;
    object-fit: cover;
}
.textimage {
    position: absolute;
    top: 50%;
    font-size: 24px;
    color: white;
}
.overlay-white {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
.overlay-black {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
footer {
    background-color: var(--fondheader);
    color: white;
}
.div-footer {
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    justify-self: center;
    align-self: end;
    min-height: 0;
    min-width: 0;
}
.div-footer > div {
    display: block;
    padding: 0 5%;
}