.flex-container {
    display: flex;
    flex-direction: row; /* row (défaut), row-reverse, column, column-reverse */
    flex-wrap: nowrap; /* nowrap (défaut), wrap, wrap-reverse */
    justify-content: space-between; /* flex-start, flex-end, center, space-between, space-around, space-evenly */
    align-items: stretch; /* stretch, flex-start, flex-end, center, baseline */
    align-content: flex-start; /* flex-start, flex-end, center, space-between, space-around, stretch */
    gap: 10px; /* espace entre les éléments flex */
}
header {
    background: linear-gradient(90deg,rgba(18, 0, 92, 1) 0%, rgba(9, 9, 121, 1) 40%, rgba(0, 212, 255, 1) 100%);
    position: fixed;
    color: white;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 80px;
    z-index: 500;
}
main {
    position: relative;
    top: 80px;
}
.actuel {
    border-bottom: solid rgb(255, 0, 0);
}
.menu:hover {
    border-bottom: solid rgb(255, 0, 0);
}
.contact:hover {
    background-color: rgb(133, 67, 255);
    margin-left: 10px;
}
img {
    padding-right: 10px;
}
.left {
    display: flex;
}
.navigation {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
li {
    padding: 0.5rem 1rem;
}
.contact {
    margin-left: 10px;
    background-color: rgb(89, 0, 255);
    border-radius: 5px 5px 5px 5px;
}
footer {
    position: relative;
    top: 70%;
}