.main-grid {
    display:grid;
    grid-template-columns: repeat(6, auto);
    grid-auto-rows: auto;
    gap: 10px;
    border: 1px;
}
.main-grid div {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.titre {
    text-align: center;
}