html {
    font-family: Roboto;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 1em auto;
    background-color: rgb(81, 165, 88);
    align-items: center;
    color: white;
}
h1 {
    padding-left: 1em;
}
.sousmenu > ul > li {
    list-style: none;
}
.sousmenu > ul {
    padding: 10px;
}
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu-toggle {
    display: none;
}
.menu {
    display: var(--menu);
}
.menu > li {
    list-style: none;
    padding: 0 1em;
}
main {
    display: block;
    margin: 20vh 10%;
    text-align: center;
}
:root {
    --sousmenu: none;
    --menu : none;
}
.sousmenu {
    position: absolute;
    background-color: rgb(81, 165, 88);;
    color: black;
    display: var(--sousmenu);
    flex-direction: row;
}
.produits:hover {
    --sousmenu: flex;
}
#menu-toggle {
    display: block;
}
#menu-toggle:checked {
    --menu : flex;
}
/* Tablettes (768px et plus) */
@media screen and (min-width: 768px) {
    .menu {
        display: flex;
    }
    #menu-toggle {
        display: none;
    }
    label {
        display: none;
    }
    nav {
        display: flex;
    }
}
/* Grands écrans (1200px et plus) */
@media screen and (min-width: 1200px) {
    
}