@media only screen and (max-width: 768px) {
    body {
        background-image: url("images/bg-tablet.jpg");
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 10px;

    }
    li {
        flex: 1 1 200px;
        box-sizing: border-box;
        padding: 10px;
        margin: 10px 0;
    }
    h1 {
        text-align: center;
    }
}
@media only screen and (max-width: 600px) {
    body {
        background-image: url("images/bg-mobile.jpg");
    }
    ul {
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 10px;
        position: absolute;
    }
    li {
        flex: 1 1 200px;
        box-sizing: border-box;
        padding: 10px;
        margin: 10px 0;
    }
    h1 {
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    body {
        background-image: url("images/bg-desktop.jpg");
    }
    ul {
        right: 20vw;
    }
}

header {
    display: inline-block;
    white-space: nowrap;
}
body {
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 20%;
}
.module {
    border: solid;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.418);
    margin: 2vh 0 2vh 0;
    padding: 3vh 0;
    text-align: center;
    vertical-align: center;
    border-radius: 5px 5px 5px 5px;
}
footer {
    min-height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    background-position: bottom;
}
main {
    flex: 1;
}
header {
    margin-top: 20px;
}
form {
    flex-direction: column;
    width: 100%;
}
ul {
    list-style: none;
    overflow: hidden;
    position: absolute;
    top: 50px;
    vertical-align: center;
    text-shadow: 2px 2px black;
}
.sousmodule {
    display: inline-block;
    border: solid;
    border-color: grey;
    background-color: rgba(128, 128, 128, 0.384);
    height: auto;
    width: 250px;
    border-radius: 5px 5px 5px 5px;
}
li {
    float: left;
    padding: 0;
    margin-right: 5px;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #00ff22;
    border: none;
    color: white;
    padding: 0 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}
textarea {
    width: 30vw;
    height: 50px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    border-radius: 5px 5px 5px 5px;
}
.message {
    height: 100px;
}
section, div {
    padding: 20px;
}
h1 {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.57);
}