@font-face {
    font-family: "Open Sans";
    src:
    url("fonts/OpenSans-Regular.ttf") format("truetype"); 
}
@font-face {
    font-family: "Open Sans Bold";
    src:
        url("fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
        font-family: "Montserrat";
    src:
        url("fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    src:
        url("fonts/Montserrat-Bold.ttf") format("truetype");
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.osregular {
    font-family: 'Open Sans';
}
.osbold {
    font-family: 'Open Sans Bold';
}
.montregular {
    font-family: 'Montserrat';
}
.montbold{
    font-family: 'Montserrat Bold';
}
.responsive {
    width: 100%;
    border: none;
}
.soustitre {
    color: grey;
    width: 100%;
    text-align: left;
}
.spacing {
    text-transform: uppercase;
    letter-spacing: 5px;
}
.lettres {
    text-transform: capitalize;
}
.normal {
    width: 100%;
    border: none;
    text-align: left;
}
.nompolice {
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(78, 78, 78);
}
.ombre {
    text-shadow: 1px 1px 2px rgb(78, 78, 78);
}
body {
    background-color: white;
}
section {
    text-align:center;
    margin-bottom: 100px;
}
main {
    margin: 0 20%;
}
header {
    background: linear-gradient(0.12turn, yellow, orange);
    text-align: center;
    align-items:center;
}
div {
    width: 40%;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
    border: double;
}
h2 {
    color:blue;
    border-bottom: 1px solid #555;
    text-align: left;
}
footer {
    text-align:center;
}