.joueur, .titre, .nul {
    text-transform: uppercase;
    text-align: center;
}
.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
}
.case {
    background-color: grey;
}
.menu_jeu {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.menu_joueur {
    width: 110px;
    text-align: center;
}
.button_menu {
    display: flex;
    gap: 20px;
    justify-content: center;
}