:root {
    font-family: Roboto;
    --font-XS: 10px;
    --font-S: 12px;
    --font-M: 16px;
    --font-L: 20px;
    --gap-size: 20px;
    --weight-font: 400;
    --primary-color: #FDC98A;
    --secondary-color: #606060;
    --supplement-color: #C2C57E;
    --text-color: black;
    --white-color: white;
}
* {
    background-repeat: no-repeat;
}
li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
.relative {
    position: relative;
}
.gold-text {
    color: var(--primary-color);
}
.white-text {
    color: var(--white-color);
}
html {
    color: var(--text-color);
    font-size: var(--font-M);
    font-weight: var(--weight-font);
}
main {
    background-color: var(--secondary-color);
}
.uppercase {
    text-transform: uppercase;
}
.xs-text {
    font-size: var(--font-XS)
}
.s-text {
    font-size: var(--font-S);
}
.m-text {
    font-size: var(--font-M);
}
.l-text {
    font-size: var(--font-L);
}
.header-fond {
    background-image: url(images/bg_header.png);
    height: 500px;
}
.header-fond > img {
    display: flex;
    justify-self: center;
    align-self: center;
    padding-top: 50px;
}
.header-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}
.menu-liste {
    max-width: 235px;
    height: auto;
    margin: auto;
    justify-items: center;
}
.menu-liste > nav > ul {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 20px;
    margin: 10px 0;
}
.menu-text {
    color: var(--secondary-color);
}
.menu-text:hover {
    color: black;
}
.header-research {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
.research-icon {
    background-image: url(images/loupe.png);
    background-color: var(--secondary-color);
    width: 20px;
    height: 20px;
    background-position: center;
    padding: 20px;
}
.research-barre {
    width: 250px;
    height: 40px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px;
    border: 1px solid var(--secondary-color);
}
.container-main {
    padding: 0 32px;
}
.main-foodtype {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-foodtype > div {
    width: 300px;
    height: 250px;
    margin: 20px auto;
}
.food-soup {
    background-image: url(images/soupe.png);
}
.food-salad {
    background-image: url(images/salade.png);
}
.food-dessert {
    background-image: url(images/dessert.png);
}
.text-food {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-surlignement {
    text-align: center;
    color: var(--primary-color);
    padding: 0 50px;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    font-size: 20px;
    text-transform: uppercase;
}
.titre-surlignement {
    margin: 20px 0;
}
.recette {
    font-weight: 500;
}
.auteur, .recette {
    color: var(--secondary-color);
}
.plat, .description-plat {
    font-size: var(--font-L);
}
.article-image {
    width: 100%;
    min-height: 300px;
    background-size: cover;
}
.image-tacos {
    background-image: url(images/tacos.png);
}
.image-boeuf {
    background-image: url(images/cote_de_boeuf.png);
}
.image-carotte {
    background-image: url(images/carrot.png);
}
.image-cookie {
    background-image: url(images/cookies.png);
}
.article-logo {
    position: absolute;
    width: 77px;
    height: 77px;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(images/toque.png);
}
.contenu-tacos, .contenu-boeuf, .contenu-carotte, .contenu-cookie {
    background-color: var(--supplement-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    text-align: center;
}
.article-button {
    background-color: var(--secondary-color);
    color: white;
    width: 25%;
    margin: auto;
    padding: 5px 0;
    font-size: var(--font-S);
}
.main-article {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: var(--gap-size);
    margin-bottom: var(--gap-size);
}
.main-about {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-about > div {
    width: 100%;
}
.amonsujet {
    background-color: #fdc98aa6;
    height: 477px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 0 50px;
}
.image-sujet {
    background-image: url(images/me-avatar\ 1.png);
    width: 146px;
    height: 146px;
    align-self: center;
    margin-top: 30px;
}
.image-category {
    max-width: 306px;
    min-height: 350px;
    background-size: cover;
    padding: 8px;
    align-self: center;
    text-align: center;
    margin: 8px;
}
.bieres {
    background-image: url(images/bieres.png);
    
}
.cafe {
    background-image: url(images/cafe.png);
}
.border-category {
    width: auto;
    height: 330px;
    border: 1px solid var(--primary-color);
}
.absolute-category {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}
.category-button {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 5px 0;
}
.grid-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
}
.gallery {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    justify-self: center;
}
.hamburger {
    background-image: url(images/hamburger_small.png);
}
.wrap {
    background-image: url(images/wrap_small.png);
}
.gateau {
    background-image: url(images/gateau_small.png);
}
.pancake {
    background-image: url(images/pancake_small.png);
}
.oeufs {
    background-image: url(images/pexels-photo-566566.png);
}
.poisson {
    background-image: url(images/poisson_small.png);
}
.container-footer {
    background-image: url(images/bg_footer.png);
}